{% extends 'flat.html.twig' %}

{% block title %}Countries List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
    <h1>Countries List</h1>
    <a class="btn btn-primary btn-sm pull-right" href="{{ path('app_country_new') }}" role="button">add new »</a>
    


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.id }}</td>
                <td>{{ country.name }}</td>
                <td>
                    <a href="{{ path('app_country_show', {'id': country.id}) }}">show</a>
                    <a href="{{ path('app_country_edit', {'id': country.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_country_new') }}">Create new</a>
{% endblock %}
