<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>{% block title %}SIP{% endblock %}</title>
        <meta name="description" content="overview &amp; stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        {% block stylesheets %}
          
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('font-awesome/4.5.0/css/font-awesome.min.css')}}">

        <!-- page specific plugin styles -->

        <!-- text fonts -->
        <link rel="stylesheet" href="{{ asset('css/fonts.googleapis.com.css')}}">

        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('/css/ace.min.css')}}" class="ace-main-stylesheet" id="main-ace-style">
        <link rel="stylesheet" href="{{ asset('css/ace-skins.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/ace-rtl.min.css')}}">

        {% endblock %}

        {% block javascripts %}
           
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
